.products-container{
    display:flex;
    flex-direction: row;
.content-right{
    border-left:1px solid 

    margin-top: 0px;
    width:50%;
    .title{
        font-size:18px;
        font-weight: 600;
        text-align: left;
        padding: 10px 0;
    }
    .price{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0 15px 0;
    }
    .size{
        padding: 5px 0;
    }
    .action{
        display: flex;
        flex-direction: column;
        .buy{
            cursor: pointer;
            height: 27px;
            width: 171px;
            color:#ffffff;
            background-color:#ff3945;
            border-radius: 5px;
        }
        .quantity{
            height: 14px;
            width: 35px;
            border-radius: 3px;
            }
        .buy:hover{
            background-color: #FEFBE7;
            color:#FF6363
        }
    }
}
.content-left{
    width:50%;
    .img-up{
        img{
            width: 80%;
            height: 100%;
            object-fit: cover
        }
    }
    .img-down{
        display: flex;

        
        .img-small{
            img{
                height: 100px;
                width: 100px;
            }
     
    }

    }
    
}
}