.products-container{
    display:flex;
    flex-direction: row;
.content-right{
    border: 1px solid green;
    margin-top: 0px;
    width:50%;
    .title{
        font-size:18px;
        font-weight: 600;
        tex
    }
}
.content-left{
    width:50%;
}
}